$color1: #444;
$color2: #ff6a00;
$color3: #4cff00;
$color4: #b200ff;
$white: #fff;
$black: #000;

html { 
    height:100%;
    overflow-y:hidden;
}
body { 
    background: $color1; 
    color: $white;
    height:100%;
    overflow-y:hidden;
}
header, footer {  
    height:60px;
}
header { 
    background: $color3;
}
footer { 
    background: $color4; 
}
nav{
    background: $color1; 
    height: 100%;
}
app-showcase { 
    background: $color2; 
    height:calc(100% - 120px);
}